[submodule "huff"]
	path = src/huff
	url = https://github.com/wolflo/huff.git
	branch = small-jumps
[submodule "k-sandy"]
	path = k-sandy
	url = https://github.com/wolflo/k-sandy.git
	branch = master
